<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic HTML template</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h2>Try this in Frou-Frou</h2>
    <div class="menu">
      {{#menu}}
      <div class="menu-item">
        <h3>{{title}} <span>{{price}}</span></h3>
        <p>{{description}}</p>
      </div>
      {{/menu}}
    </div>
  </body>
</html>
